WSEmployeesSoapClient/src/main/java/com/employees/service/EmployeeServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.employees.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmployeeServiceImplService" targetNamespace="http://service.employees.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.employees.com/" elementFormDefault="unqualified" targetNamespace="http://service.employees.com/" version="1.0">

  <xs:element name="addEmployee" type="tns:addEmployee"/>

  <xs:element name="addEmployeeResponse" type="tns:addEmployeeResponse"/>

  <xs:element name="deleteEmployee" type="tns:deleteEmployee"/>

  <xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>

  <xs:element name="getAllEmployees" type="tns:getAllEmployees"/>

  <xs:element name="getAllEmployeesResponse" type="tns:getAllEmployeesResponse"/>

  <xs:element name="getEmployeeById" type="tns:getEmployeeById"/>

  <xs:element name="getEmployeeByIdResponse" type="tns:getEmployeeByIdResponse"/>

  <xs:element name="updateEmployee" type="tns:updateEmployee"/>

  <xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse"/>

  <xs:complexType name="deleteEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteEmployeeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="addEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:employeeDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="departmentId" type="xs:int"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="employeeId" type="xs:int"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="hireDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="jobId" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="managerId" type="xs:int"/>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
      <xs:element name="salary" type="xs:double"/>
      <xs:element minOccurs="0" name="user" type="tns:userDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userDto">
    <xs:sequence>
      <xs:element name="authenticated" type="xs:boolean"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="role" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employeeDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllEmployees">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllEmployeesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:employeeDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="tns:employeeDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateEmployeeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getEmployeeById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEmployeeByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employeeDto"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateEmployee">
    <wsdl:part element="tns:updateEmployee" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeById">
    <wsdl:part element="tns:getEmployeeById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeByIdResponse">
    <wsdl:part element="tns:getEmployeeByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmployeeResponse">
    <wsdl:part element="tns:deleteEmployeeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmployeesResponse">
    <wsdl:part element="tns:getAllEmployeesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmployee">
    <wsdl:part element="tns:deleteEmployee" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmployeeResponse">
    <wsdl:part element="tns:updateEmployeeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployeeResponse">
    <wsdl:part element="tns:addEmployeeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployee">
    <wsdl:part element="tns:addEmployee" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmployees">
    <wsdl:part element="tns:getAllEmployees" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="deleteEmployee">
      <wsdl:input message="tns:deleteEmployee" name="deleteEmployee">
    </wsdl:input>
      <wsdl:output message="tns:deleteEmployeeResponse" name="deleteEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <wsdl:input message="tns:addEmployee" name="addEmployee">
    </wsdl:input>
      <wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <wsdl:input message="tns:getAllEmployees" name="getAllEmployees">
    </wsdl:input>
      <wsdl:output message="tns:getAllEmployeesResponse" name="getAllEmployeesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input message="tns:updateEmployee" name="updateEmployee">
    </wsdl:input>
      <wsdl:output message="tns:updateEmployeeResponse" name="updateEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeById">
      <wsdl:input message="tns:getEmployeeById" name="getEmployeeById">
    </wsdl:input>
      <wsdl:output message="tns:getEmployeeByIdResponse" name="getEmployeeByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceImplServiceSoapBinding" type="tns:EmployeeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployees">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllEmployees">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmployeeById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeeByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeServiceImplService">
    <wsdl:port binding="tns:EmployeeServiceImplServiceSoapBinding" name="EmployeeServiceImplPort">
      <soap:address location="http://localhost:8080/WSEmployeesSoap/EmployeeServiceImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>